<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 style="text-align:center">Product Card</h2>
    {% for book in book_list %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <center><img src="lms-admin/media/{{book.book_image}}" class="card-img-top" style="width:150px;height:200px"></center>
            <div class="card-body">
                <center><h3 class="card-title">{{book.book_name}}</h3></center>
                <center><h3 class="card-title">{{book.book_price}}</h3></center>
                <center><a href="#" class="btn btn-primary text-center">Buy Now</a></center>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>
